body {
  background-color: #ffffff;
  height: 2200px;
  z-index: -5;

}

/*Det store bilde*/

#Scooter {
  position: absolute;
  width: 99%;
  height: 640px;
  margin-left: 0;
  top: 0px;
  border-radius: 8px;
  opacity: 0.8;
}

/* Div med alle tekst elementene i seg */

#inni {
  top: 560px;
  position: absolute;
}

/*Alle tekst elementene som er i #inni i rekkefølge */

#overskrift {
  left: 520px;
  text-align: center;
  color: #000000 ;
  position: relative;
  z-index: 2;
}
#infotekst {
  width: 800px;
  font-size: 20px;

  position: absolute;
  left: 270px;
  color: #000000;
}
#hvor1 {
  top: 500px;
  position: absolute;
  width: 400px;
  left: 520px;
  color: #000000;
}
#hvorBilde {
  top: 650px;
  position:absolute;
  left: 400px;
}
#hvorInfo {
  top: 1180px;
  width: 800px;
  font-size: 30px;
  position: absolute;
  left: 430px;
  color: #000000;
}
#kontakt2 {
  width: 800px;
  top: 1250px;
  position: absolute;
  left: 550px;
  color: #000000;
}
#kontaktinfo {
  width: 700px;
  font-size: 20px;
  top: 1400px;
  position: absolute;
  left: 520px;
  color: #000000;
}
/* Meny */

#meny {
 position: fixed;
 z-index: 4;
 border-bottom: 2px solid;
 top: 0px;
 width: 100%;
 left: 0px;
 height: 45px;
 text-align: center;
 background-color: #9aca26;
}
.option {
  display: block;
  font-size: 30px;
  float: left;
  position: relative;
  min-height: 35px;
  width: 25%;
  padding-bottom: 10px;
  z-index: 4;
  background-color: #9aca26;
  color: white;
}
.option:hover  {
  background-color: #4f4b1b;
}

/* Teksten på det store bilde */

#bildetekst {
  position: absolute;
  top: 100px;
  left: 50px;
  color: #000000;
  font-size: 35px;
  font-family: "Arial", helvetica, sans-serif;
}
#gjersrud {
  color: #000000
}

/*Bakgrunen som følger hele tiden*/

#bakgrunn {
  position: fixed;
  z-index: -3;
  left: 500px;
  top: 200px;
  opacity: 0.8
}
