body {
  background-color: #ffffff;
  height: 2200px;
  z-index: -5;
}

p {
  color: #808080;
}

#overskrift {
  left: 520px;
  text-align: center;
  color: #808080 ;
  position: relative;
  z-index: 2;

}

#tag {
  text-align: center;
  position: relative;
  top: 20px;
  z-index: 2;
  color: #000000;
}

#Scooter {
  position: absolute;
  width: 99%;
  height: 640px;
  margin-left: 0;
  top: 0px;

}
#inni {
  top: 560px;
  position: absolute;
}
#infotekst {
  width: 800px;
  font-size: 20px;

  position: absolute;
  left: 270px;
  color: #808080;

}

@keyframes anim {
  0% {}
}

#meny {
 position: fixed;
 z-index: 4;
 border-bottom: 2px solid;
 top: 0px;
 width: 100%;
 left: 0px;
 height: 46px;
 text-align: center;
 background-color: #9aca26;
}

.option {
  display: inline;
  font-size: 30px;
  width: 500px;
  padding: 20px 115px 13px 115px;
  z-index: 4;
  background-color: #9aca26;
  margin-left: : 0px;
  color: white;



}



.option:hover  {
  background-color: #4f4b1b;
}
#option4:hover  {
  background-color: #4f4b1b;
}

#bakgrunn {
  position: fixed;
  z-index: -3;
  left: 500px;
  top: 200px;
}

#hvor1 {
  top: 500px;
  position: absolute;
  width: 1000px;
  left: 520px;
  color: #808080;
}

#hvorInfo {
  top: 1180px;
  width: 800px;
  font-size: 30px;

  position: absolute;
  left: 430px;
  color: #808080;
}
#hvorBilde {
  top: 650px;
  position:absolute;
  left: 400px;
}
#kontakt2 {
  width: 800px;

  top: 1250px;
  position: absolute;
  left: 550px;
  color: #808080;
}

#kontaktinfo {
  width: 800px;
  font-size: 20px;
  top: 1400px;
  position: absolute;
  left: 520px;
  color: #808080;
}
